.private_bg {
	width: 100%;
	min-height: 100vh;
	max-height: auto;
	background-color: #F1F1F1;
		display: -ms-flexbox;
	padding: 80px 0px 80px 0px;

}

.tasks {
	background-color: #20D7AF;
	height: 150px;
	color:  #fff;
}

.events {
	background-color: #02A8F3;
	height: 150px;
	color:  #fff;
}

.incompleted-events {
	background-color: #E84C3D;
	height: 150px;
	color:  #fff;
}

.info-box h1{
	font-size: 3em;
	font-weight: 200;
	margin-top: 25px;
}

.info-box p {
	font-weight: 200;
	font-size: 1.2em;
}

.tasks i {
	font-size: 4em;
	margin-top: 50px;
	color: rgba(255,255,255,0.65)
}

.events i {
	font-size: 4em;
	margin-top: 50px;
	color: rgba(255,255,255,0.65)
}

.info {
	margin-top: 50px;
}

.events-info {
	background-color: #fff;
	height: 250px;
}

.weather-info {
	margin-top: 50px;
	background-color: #fff;
	height: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.tasks-info {
	height: 250px;
	background-color: #fff;
}


.forecast {
	text-align: center;
}

.icon-today {
	font-size: 5em;
}

.forecast h5 {
	margin-top: 15px;
	font-weight: 200;
}