.private_bg {
	width: 100%;
	min-height: 100vh;
	max-height: auto;
	background-color: #F1F1F1;
		display: -ms-flexbox;
	padding: 80px 0px 80px 0px;

}

.tasks {
	background-color: #20D7AF;
	height: 150px;
	color:  #fff;
}

.events {
	background-color: #02A8F3;
	height: 150px;
	color:  #fff;
}

.incompleted-events {
	background-color: #E84C3D;
	height: 150px;
	color:  #fff;
}

.info {
	margin-top: 50px;
}

.events-info {
	background-color: #fff;
	height: 250px;
}

.weather-info {
	margin-top: 50px;
}

.weather-info {
	background-color: #fff;
	height: 250px;
}

.tasks-info {
	height: 250px;
	background-color: #fff;
}