.private_bg {
	width: 100%;
	min-height: 100vh;
	max-height: auto;
	background-color: #F1F1F1;
		display: -ms-flexbox;
	padding: 80px 0px 80px 0px;

}

.tasks {
	background-color: #20D7AF;
	height: 150px;
	color:  #fff;
}

.events {
	background-color: #02A8F3;
	height: 150px;
	color:  #fff;
}

.incompleted-events {
	background-color: #E84C3D;
	height: 150px;
	color:  #fff;
}

.info-box h1{
	font-size: 3em;
	font-weight: 200;
	margin-top: 25px;
}

.info-box p {
	font-weight: 200;
	font-size: 1.2em;
}

.tasks i {
	font-size: 4em;
	margin-top: 50px;
	color: rgba(255,255,255,0.65)
}

.events i {
	font-size: 4em;
	margin-top: 50px;
	color: rgba(255,255,255,0.65)
}

.info {
	margin-top: 50px;
}

.events-info {
	background-color: #fff;
	height: 250px;
}

.events-info h3 {
	font-weight: 200;
	text-align: center;
	margin-top: 8px;
}

.eventRes {
	margin-top: 30px;
	font-weight: 200;
	text-align: center;
}

.weather-info {
	margin-top: 50px;
	background-color: #fff;
	height: 250px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	    justify-content: center;
	-ms-flex-align: center;
	    align-items: center;
}

.tasks-info {
	height: 250px;
	background-color: #3E464C;
}

.tasks-info h3 {
	margin-top: 8px;
	text-align: center;
	font-weight: 200;
	color: #fff;
}

.forecast {
	text-align: center;
	font-weight: 200;
}

.icon-today {
	font-size: 5em;
}

.forecast h5 {
	margin-top: 15px;
	font-weight: 200;
}

.destroy {
	background: none;
	cursor: pointer;
	outline: none;
	border: none;
	color: #F44336;
}


.task-list {
	margin-top: 20px;
}

li {
	list-style-type: none;
}


.main {
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
}

.main li {
	background-color: #fff;
	text-align: center;
	margin-bottom: 1px;
	margin-top: 1px;
}

.main li label{
	font-weight: 200;
	font-size: 1.25em;
}

.view {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	    justify-content: center;
	-ms-flex-align: center;
	    align-items: center;
}

.checked {
  text-decoration: line-through;
  color:  #373a3c;
} 

 #checkbox-task{
    border-radius:15px;
    -webkit-appearance:button;
    border: solid 1px #20D7AF;
    transition: background .4s ease;
    background: none;
    color: #000;
    white-space: nowrap;
    overflow:hidden;
    width:25px;
    height:25px;
    outline: none;
    margin-bottom: 8px;
    margin-left: 10px;
    margin-right: 5px;
}
 
#checkbox-task:checked{
	transition: background-color .4s ease;
    background-color: #20D7AF;
    outline: none;
}


