<div class="private_bg">
	<div class="container">
		<div *ngIf="!isLogged" class="alert alert-danger">
			<p>You can't see this content. You need to be logged to see it</p>
		</div>
		<div *ngIf="isLogged">
			<div class="col-md-12">
				<div class="col-md-4 tasks">
					<p>Tasks</p>
				</div>
				<div class="offset-md-1 col-md-4 events">
					<p>Events</p>
				</div>
				<div class="offset-md-1 col-md-2 charts">
					<p>Charts</p>
				</div>
			</div>
			<div class="col-md-12 info">
				<div class="col-md-6 events-info">
					<p>Events</p>
				</div>
				<div class="offset-md-1 col-md-5 tasks-info">
					<p>Tasks</p>
				</div>
			</div>
			<div class="col-md-12 weather-info">
				<div class="col-md-12 weather">
					<p>Weather</p>
				</div>
			</div>
		</div>
	</div>
</div>