<div class="weather_bg">
	<div class="container">
		<div *ngIf="!isLogged" class="alert alert-danger">
			<p>You can't see this content. You need to be logged to see it</p>
		</div>
		<div *ngIf="isLogged">
			<p *ngIf="location">
				weather works! and the city iiiiis {{location.name}}, {{location.country}}
			</p>
			<div *ngIf="forecast">
				Today
				{{forecast.weather[0].description}}
				<img src="{{'http://openweathermap.org/img/w/' + forecast.weather[0].icon + '.png'}}" alt="ikonka" height="100px">
				Humidity:
				{{forecast.humidity}}%
				Temperature:
				{{forecast.temp.day}}&deg;C
				Max Temperature:
				{{forecast.temp.max}}&deg;C
				Min Temperature:
				{{forecast.temp.min}}&deg;C
			</div>
			<div *ngIf="allForecast">
				<ul *ngFor="let all of allForecast ; let i = index ">
					<li *ngIf="i !==0" >
						<div >
							{{all.dt * 1000 | date: 'EEEE' }}
							{{all.weather[0].description}}
							<img src="{{'http://openweathermap.org/img/w/' + all.weather[0].icon + '.png'}}" alt="ikonka" height="100px">
							Humidity:
							{{all.humidity}}%
							Temperature:
							{{all.temp.day}}&deg;C
							Max Temperature:
							{{all.temp.max}}&deg;C
							Min Temperature:
							{{all.temp.min}}&deg;C
						</div>
						
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>