.weather_bg {
	width: 100%;
	min-height: 100vh;
	max-height: auto;
	background-color: #F1F1F1;
		display: -ms-flexbox;
	display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    padding: 60px 0px 0px 0px;
}

.error {
	text-align: center;
}

.error h1 {
	font-weight: 200;
}

.location-info {
	font-size: 2em;
	margin-bottom: 0px;
	text-align: center;
	font-weight: 100;
}

.weather-today {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 15px;
}

.icon-today {
	font-size: 7em;
	margin-bottom: 25px;
}

.weather-today h3, h5 {
	font-weight: 100;
}

.weather-today p {
	margin-bottom: 8px;
}

.weather-all {
	margin-top: 15px;
	display: flex;
	justify-content: center;
	text-align: center
}

.icon-all {
	margin-bottom: 15px;
	margin-top:  5px;
	font-size: 4em;
}

.weather-all h3, h4, h6 {
	font-weight: 100;
}

.weather-all p {
	margin-bottom: 8px;
	font-size: 0.9em;
}

li:hover, .offcanvas li:focus {
	-webkit-transition: background-color .2s ease;
	-moz-transition: background-color .2s ease;
	-o-transition: background-color .2s ease;
	transition: background-color .2s ease;
    background-color: #fff;
    cursor:  pointer;
}

li {
	list-style-type: none;
	padding:  5px 15px 5px 15px;
}
