<div class="main" id="main">
	<div class="overlay">
		<div class="main-content">
			<h1>Cross platform easy to use time management application.</h1>
			<a href="#learn-more"><button class="btn btn-default">Learn more</button></a>
		</div>
	</div>
</div>
<div class="learn-more" id="learn-more">
	<div class="container">
		<div class="col-md-6 col-sm-12 col-xs-12">
			<h2>Web and mobile</h2>
			<p>
				It’s good to have everything sorted in every platform. Tajmik offers marking your tasks and events in a very simple manner. You can access your tasks and events everywhere with distraction free-design. So you can do more to customize the experience, organize your tasks and events and optimize your productivity.
			</p>
		</div>
		<img src="../../img/laptop.png" alt="web" class="col-md-6 col-sm-12 col-xs-12" >
	</div>
	
</div>
<div class="users col-md-12">
	<h1>Now we have <i class="material-icons">supervisor_account</i> {{users}} {{users == 1 ? 'user' : 'users'}}</h1>
</div>
<div class="features col-md-12" id="features">
	<div class="container features-info">
		<h2>Features</h2>
		<h3>Tajmik provides several features:</h3>
		<div class="row first-row">
			<div class="col-md-4 item">
				<h5><i class="material-icons">done</i>Task Manager</h5>
				<p>
					From grocery shopping to completing work project on time, no task list is too small or too large for Tajmik. 
				</p>
			</div>
			<div class="col-md-4 item">
				<h5> <i class="material-icons">event</i>Event Manager</h5>
				<p>
					Organize your important mettings or events and attened them on time. 
				</p>
			</div>
			<div class="col-md-4 item">
				<h5><i class="material-icons">filter_drama</i> 7 day forecast</h5>
				<p>
					Accurate 7 Day weather Forecasts for thousands of places arround the World. Application provide brief informations about defined location.  
				</p>
			</div>
		</div>
		<div class="row second-row">
			<div class="col-md-4 item">
				<h5><i class="material-icons">show_chart</i> Charts</h5>
				<p>
					Be informate about your productivity in simple chart presentation according to completed and incompleted tasks and events.
				</p>
			</div>
			<div class="col-md-4 item">
				<h5><i class="material-icons">phone_iphone</i>Web and mobile</h5>
				<p>
					You can access the functionality of appliction from various defices, locations no matter on which platform you are.
				</p>
			</div>
			<div class="col-md-4 item">
				<h5><i class="material-icons">money_off</i>It's free!</h5>
				<p>Tajmik is all time free and open source application.</p>
			</div>
		</div>
	</div>
</div>
<div class="our-app col-md-12" id="our-app">
	<div class="container">
		<img src="../../img/mobile.png" alt="mobile" class="offset-md-2 col-md-5 offset-sm-4 col-sm-12">
		<h2 class="offset-md-1 col-md-5 col-sm-12 col-xs-12">Our mobile app comming soon for Android and iOS.</h2>
	</div>
</div>

<div class="get-started col-md-12">
	<button class="btn btn-default" routerLink="/signup">Get started with Tajmik</button>
</div>
<footer class="col-md-12">
	<p>Copyright &copy; 2017. Created by <a href="#">Richard Dominik</a> and <a href="#">Dominik Fedor</a></p>
</footer>