<div class="main">
	<div class="overlay">
		<div class="main-content">
			<h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
			<a href="#learn-more"><button class="btn btn-default">Learn more</button></a>
		</div>
	</div>
</div>
<div class="learn-more" id="learn-more">
<div class="container">
<div class="col-md-6">
	<h2>Lorem ipsum dolor</h2>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a sagittis arcu. Pellentesque maximus justo non elit ultrices porttitor. Quisque ligula velit, ultricies quis pulvinar eu, tristique sit amet eros. Nulla semper euismod lacus nec bibendum. Nullam dapibus risus non turpis posuere, porttitor consequat lectus sagittis. Suspendisse aliquet venenatis condimentum. Duis sollicitudin tincidunt arcu non pellentesque.
	</p>
</div>
	<img src="../../img/laptop.png" alt="web" class="col-md-6">
</div>
	
</div>
<div class="users col-md-12">
	<h1>Now we have <i class="material-icons">supervisor_account</i>100 users</h1>
</div>
<div class="features col-md-12" id="features">
	
</div>
<div class="our-app col-md-12" id="our-app">
	<p>Coming soon...</p>
	<img src="../../img/mobile.png" alt="mobile">
</div>
<footer class="col-md-12">
	
</footer>