<div class="main" id="main">
	<div class="overlay">
		<div class="main-content">
			<h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
			<a href="#learn-more"><button class="btn btn-default">Learn more</button></a>
		</div>
	</div>
</div>
<div class="learn-more" id="learn-more">
	<div class="container">
		<div class="col-md-6 col-sm-12 col-xs-12">
			<h2>Lorem ipsum dolor</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a sagittis arcu. Pellentesque maximus justo non elit ultrices porttitor. Quisque ligula velit, ultricies quis pulvinar eu, tristique sit amet eros. Nulla semper euismod lacus nec bibendum. Nullam dapibus risus non turpis posuere, porttitor consequat lectus sagittis. Suspendisse aliquet venenatis condimentum. Duis sollicitudin tincidunt arcu non pellentesque.
			</p>
		</div>
		<img src="../../img/laptop.png" alt="web" class="col-md-6 col-sm-12 col-xs-12" >
	</div>
	
</div>
<div class="users col-md-12">
	<h1>Now we have <i class="material-icons">supervisor_account</i> {{users}} {{users == 1 ? 'user' : 'users'}}</h1>
</div>
<div class="features col-md-12" id="features">
	<div class="container features-info">
		<h2>Lorem ipsum dolor</h2>
		<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
		<div class="row first-row">
			<div class="col-md-4 item">
				<h5><i class="material-icons">done</i>Task Manager</h5>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet elit at felis ultrices commodo eu et tellus. 
				</p>
			</div>
			<div class="col-md-4 item">
				<h5> <i class="material-icons">event</i>Event Manager</h5>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet elit at felis ultrices commodo eu et tellus. 
				</p>
			</div>
			<div class="col-md-4 item">
				<h5><i class="material-icons">filter_drama</i> 7 day forecast</h5>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet elit at felis ultrices commodo eu et tellus. 
				</p>
			</div>
		</div>
		<div class="row second-row">
			<div class="col-md-4 item">
				<h5><i class="material-icons">show_chart</i> Charts</h5>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet elit at felis ultrices commodo eu et tellus. 
				</p>
			</div>
			<div class="col-md-4 item">
				<h5><i class="material-icons">phone_iphone</i>Web and mobile</h5>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet elit at felis ultrices commodo eu et tellus. 
				</p>
			</div>
			<div class="col-md-4 item">
				<h5><i class="material-icons">money_off</i>It's free!</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet elit at felis ultrices commodo eu et tellus. </p>
			</div>
		</div>
	</div>
</div>
<div class="our-app col-md-12" id="our-app">
	<div class="container">
		<img src="../../img/mobile.png" alt="mobile" class="offset-md-2 col-md-5 offset-sm-4 col-sm-12">
		<h2 class="offset-md-1 col-md-5 col-sm-12 col-xs-12">Our mobile app comming soon for Android and iOS.</h2>
	</div>
</div>

<div class="get-started col-md-12">
	<button class="btn btn-default" routerLink="/signup">Get started with Tajmik</button>
</div>
<footer class="col-md-12">
	<p>Copyright &copy; 2017. Available as open source <a href="#">GitHub</a></p>
</footer>