.main{
	width: 100% !important;
	height: 650px;
	max-height: auto;
	background-color: #999;
	background-image: url('../../img/home_background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.overlay {
	width: 100% !important;
	height: 650px;
	max-height: auto;
	background-color: rgba(0, 0, 0, .7)
}

.main-content {
	text-align: center;
	padding-top: 280px;
}

.main-content h1 {
	font-weight: 200;
	color: #fff;
}

.main-content button {
	background: #20D7AF;
	border-radius:  0px;
	outline: none;
	font-weight: 200;
	color:  #fff;
	margin-top: 20px;
}


.learn-more {
	width: 100%;
	min-height: 350px;
	padding-top: 100px;
	padding-bottom: 100px;
	max-height: auto;
	background-color: #F7F7F7
}

.learn-more img {
	height: 400px;
	width: auto;
}

.learn-more p {
	font-weight: 200;
}

.users {
	width: 100%;
	height: 150px;
	background-color: #999;
	background-attachment: fixed;
	background-image: url('../../img/users_background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.users h1 {
	text-align: center;
	padding-top: 50px;
	font-weight: 200;
	color: #fff;
}

.users i {
	font-size: 1em;
	vertical-align: bottom;
}

.features {
	width: 100%;
	min-height: 500px;
	max-height: auto;
	padding-top: 35px;
	padding-bottom: 35px;
	background-color: #F7F7F7;
}

.features-info h2, h3 {
	text-align: center;
}

.features-info h3 {
	font-weight: 200;
}

.features-info i {
	vertical-align: bottom;
	letter-spacing: 5px;
}

.features-info p, h5 {
	font-weight: 200;
}

.first-row {
	margin-top: 70px;
}

.second-row {
	margin-top: 30px;
}

.our-app {
	width: 100%;
	min-height: 500px;
	max-height: auto;
	background-color: #FFF;
}

.our-app img{
	height: 400px;
	width: auto;
	margin-top: 50px;
}

.our-app h2 {
	font-weight: 200;
	margin-top: 200px;
}

.get-started {
	width: 100%;
	min-height: 200px;
	max-height: auto;
	background-color: #F7F7F7;
	text-align: center;
}

.get-started button {
	margin-top: 75px;
	border-radius: 0px;
	border: 2px solid #20D7AF;
	background: #20D7AF;
	color: #fff;
	font-size: 1.2em;
	outline: none;
	font-weight: 200;
}

footer {
	width: 100%;
	min-height: 80px;
	max-height: auto;
	background-color: #222222;
}

footer p {
	text-align: center;
	padding-top: 25px;
	color: #fff;
	font-weight: 200;
	margin-bottom: 0px;
}

footer a {
	color: #02A8F3;
}

footer a:hover, a:active, a:visited, a:active {
	color: #02A8F3;
	text-decoration: none;
}

@media screen and (max-width: 1220px) {
  .learn-more img {
	height: 320px;
	}
}

@media screen and (max-width: 1000px) {
	.learn-more img {
		height: 235px;
	}

	.learn-more {
		padding-top: 70px;
		padding-bottom: 70px;
	}
}

@media screen and (max-width: 991px) {
	.our-app img{
		height: 350px;
		width: auto;
		margin-top: 70px;
	}

	.our-app h2 {
		font-weight: 200;	
	}

}


@media screen and (max-width: 767px) {
	.first-row {
		margin-top: 30px;
	}

	.second-row {
		margin-top: 0px;
	}

 	.item {
 		padding-top: 30px;
 	}

	.our-app {
		padding-bottom: 20px;
		padding-top: 20px;
		text-align: center ;
	}
 	.our-app img{
		margin-top: 0px;
	}

	.our-app h2 {
		margin-top: 20px;

	}
}

@media screen and (max-width: 470px) {
  	.main-content {
		padding-top: 200px;
	}

	.users h1 {
		padding-top: 25px;
	}
}

@media screen and (max-width: 400px) {
 	footer p {
		padding-top: 15px;
	}
}

@media screen and (max-width: 350px) {
  	.learn-more img {
		height: 180px;
	}
}






