.chart_bg {
	width: 100%;
	min-height: 100vh;
	max-height: auto;
	background-color: #F1F1F1;
	display: -ms-flexbox;
	display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
}

.charts {
	display: flex;
}

base-chart {
	width: 350px;
	height: auto;
}
