<div class="chart_bg">
	<div *ngIf="!isLogged" class="alert alert-danger container">
		<p>You can't see this content. You need to be logged to see it</p>
	</div>
	<div *ngIf="isLogged" class="charts">
	<div>
	<h3>Tasks</h3>
		<base-chart
			class="chart"
			[datasets]="taskDatasets"
			[labels]="taskLabels"
			[legend]="'left'"
			[colors]="colors"
			[chartType]="'doughnut'">
		</base-chart>
	</div>
	<div>
	<h3>Events</h3>
		<base-chart
			class="chart"
			[datasets]="eventDatasets"
			[colors]="colors"
			[labels]="eventLabels"
			[chartType]="'doughnut'">
		</base-chart>
	</div>
	</div>
</div>