.task_bg {
	width: 100%;
	min-height: 100vh;
	max-height: auto;
	background-color: #F1F1F1;
    padding: 92px 0px 100px 0px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
}

.error {
	text-align: center;
}

.error h1, h4 {
	font-weight: 200;
}

.new-task {
	margin-top: 8px;
}

.header input {
	height: 40px;
	font-weight: 200;
	border:  1px solid #20D7AF;
	color: #666;
	outline: none;
	background-color: #f1f1f1;
}

.error button {
	background-color: #20D7AF;
	color: #fff;
	width: 50px;
	height: 50px;
	border: none;
	border-radius: 50%;
	cursor: pointer;
}

.error button i {
	margin-top:  5px;
}

.error button:focus {
	outline: none; 
}

.task-list {
	margin-top: 20px;
}

li {
	list-style-type: none;
}

.header input {
	text-align: center;
}

.btn-task {
	outline: none;
	border-radius: 0px;
	background: #20D7AF;
	color: #fff;
}
.main {
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
}

.main li {
	background-color: #fff;
	margin-bottom: 1px;
	margin-top: 1px;
}

.main li label{
	font-weight: 200;
	font-size: 1.25em;
}

footer {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	    justify-content: center
}

.info {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	    justify-content: center;
	-ms-flex-align: center;
	    align-items: center;
	height: 50px;
	width: 50px;
	background-color: #20D7AF;
	border-radius: 50%;
	color: #fff;
	font-weight: 200;
}

.main button {
	outline: none;
	border: none;
	cursor: pointer;
	background: none;
}

.main button i {
	color: #F44336;
	font-size: 1.8em;
}


.checked {
  text-decoration: line-through;
  color:  #373a3c;
} 

input[type=checkbox] {
    border-radius:15px;
    -webkit-appearance:button;
    border: solid 1px #20D7AF;
    transition: background .4s ease;
    background: none;
    color: #000;
    white-space: nowrap;
    overflow:hidden;
    width:25px;
    height:25px;
    outline: none;
    margin-bottom: 8px;
    margin-left: 10px;
    margin-right: 5px;
}

input[type=checkbox]:checked {
	transition: background-color .4s ease;
    background-color: #20D7AF;
    outline: none;
}

.view {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	    justify-content: center;
	-ms-flex-align: center;
	    align-items: center;
}



