<div class="task_bg">
	<div class="container">
		<div *ngIf="!isLogged" class="alert alert-danger">
			<p>You can't see this content. You need to be logged to see it</p>
		</div>
		<div *ngIf="isLogged">
			<section class="todoapp">
				<section class="error" *ngIf="tasks.length == 0">
					<h1>Nothing here, yet.</h1>
					<h4>Click add to add task.</h4>
					<button (click)='data()'><i class="material-icons">add</i></button>
				</section>
				<div class="tasks">
					<header *ngIf="anyData" class="header col-md-12">
						<input class="new-task  offset-md-4 col-md-4" placeholder="What needs to be done?" autofocus="" [(ngModel)]="newTask.title" (keyup.enter)="addTask()">
					</header>
					<section class="main offset-md-3 col-md-6" *ngIf="tasks.length > 0">
						<ul class="task-list">
							<li *ngFor="let task of tasks" [class.completed]="task.complete">
								<div class="view">
									<label class="task" [ngClass]="{'checked': task.completed}">{{task.title}}</label>					
									<input type="checkbox" (click)="toggleTaskComplete(task)" [(ngModel)]="task.completed" checked="blue">
									<button class="destroy" (click)="removeTask(task)"><i class="material-icons">clear</i></button>
								</div>
							</li>
						</ul>
					</section>
				</div>
				<footer class="col-md-12" *ngIf="tasks.length > 0">
					<div class="info">
						<span>{{tasks.length}}</span>
					</div>
				</footer>
			</section>
		</div>
	</div>
</div>