<div class="task_bg">
	<div class="container">
		<div *ngIf="!isLogged" class="alert alert-danger">
			<p>You can't see this content. You need to be logged to see it</p>
		</div>
		<div *ngIf="isLogged">
			<section class="todoapp">
				<section class="error" *ngIf="!res">
					<h1>Something is wrong :( We are working on it.</h1>
				</section>
				<div *ngIf="res">
				<div class="tasks">
					<header *ngIf="res" class="header col-md-12">
					<form #f="ngForm" (ngSubmit)="addTask(f.value)">
						<input type="text" class="new-task  offset-md-4 col-md-4" placeholder="What needs to be done?" autofocus="" [(ngModel)]="title" name="title">
						<button type="submit" class="col-md-4 offset-md-4 btn btn-task">Add task</button>
					</form>
					</header>
					<section class="main offset-md-3 col-md-6" *ngIf="res.length > 0">
						<ul class="task-list">
							<li *ngFor="let task of res" >
								<div class="view">
									<label class="task" [ngClass]="{'checked': task.completed}">{{task.title}}</label>		
									<input type="checkbox" [(ngModel)]="task.completed" (ngModelChange)="changeValue($event, task._id)">
									<button class="destroy" (click)="removeTask(task._id)"><i class="material-icons">clear</i></button>
								</div>
							</li>
						</ul>
					</section>
				</div>
				<footer class="col-md-12" *ngIf="res.length > 0">
					<div class="info">
						<span>{{res.length}}</span>
					</div>
				</footer>
			</div>
			</section>
		</div>
	</div>
</div>