<h3>Profile</h3>
<p>Name: {{ first_name }} {{ last_name }} </p>
<p>Location: {{ city }}, {{ country }}</p>
<form>
	<div class="form-group">
		<label for="name">First Name</label>
		<input type="text" class="form-control" [(ngModel)]="first_name" name="name">
	</div>

	<div class="form-group">
		<label for="name">Last Name</label>
		<input type="text" class="form-control" [(ngModel)]="last_name" name="name">
	</div>

	<div class="form-group">
		<label for="city">City</label>
		<input type="text" class="form-control" [(ngModel)]="city" name="city">
	</div>

	<div class="form-group">
		<label for="country">Country</label>
		<input type="text" class="form-control" [(ngModel)]="country" name="country">
	</div>
	<button type="submit" class="btn btn-default">Submit</button>
</form>