<div class="profile_bg">
	<div *ngIf="!isLogged" class="alert alert-danger">
		<p>You can't see this content. You need to be logged to see it</p>
	</div>
	<div *ngIf="isLogged" class="container col-md-6">
		<div *ngIf="res" class="col-md-12 profile">
		<div class="col-md-4 user">
		</div>
		<div class="offset-md-2">
			<label>Email</label>
			<p>{{tokenEmail}}</p>
			<label>Name Surname</label>
			<p>{{firstName}} {{lastName}}</p>
			<label>City</label>
			<p>{{city}}</p>
			<label>Country</label>
			<p>{{country}}</p>
		</div>
		</div>
		<form *ngIf="!res" #f="ngForm" (ngSubmit)="addProfile(f.value)">
			<div class="form-group">
				<label for="name">First Name</label>
				<input type="text" class="form-control" [(ngModel)]="firstName" name="firstName">
			</div>
			<div class="form-group">
				<label for="name">Last Name</label>
				<input type="text" class="form-control" [(ngModel)]="lastName" name="lastName">
			</div>
			<div class="form-group">
				<label for="city">City</label>
				<input type="text" class="form-control" [(ngModel)]="city" name="city">
			</div>
			<div class="form-group">
				<label for="country">Country</label>
				<input type="text" class="form-control"[(ngModel)]="country" name="country">
			</div>
			<button type="submit" class="col-md-4 offset-md-4 btn btn-default">SUBMIT</button>
		</form>
	</div>
</div>