<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a routerLink="/" class="navbar-brand">MEAN Authentication</a>
		</div>
	</div>
	<div class="container-fluid">
	<ul class="nav navbar-nav">
		<li><a routerLink="/private">Private</a></li>
		<li *ngIf="!isLogged"><a routerLink="/signup">Sign Up</a></li>
		<li *ngIf="!isLogged"><a routerLink="/signin">Sign In</a></li>
		<li *ngIf="isLogged"><a routerLink="/profile">Profile</a></li>
		<li *ngIf="isLogged"><a routerLink="/task_manager">Task Manager</a></li>
		<li *ngIf="isLogged"><a routerLink="/event_manager">Event Manager</a></li>
		<li *ngIf="isLogged"><a (click)="logout()">Logout</a></li>
	</ul>
	</div>
</nav>

<div class="col-xs-12">
  <router-outlet></router-outlet>
</div>
