<nav class="navbar navbar-light nav_background navbar-fixed-top" *ngIf="!isLogged" id="nav">
	<div class="container">
			<a class="navbar-brand" href="#main"><img src="../img/main_logo.svg" class="logo" alt="logo"></a>
			<a class="navbar-brand float-xs-right" href="#" id="pull"></a>
		<ul class="nav navbar-nav float-xs-left navigation">
			<li class="nav-item"><a class="nav-link" href="#learn-more">LEARN MORE</a></li>
			<li class="nav-item"><a class="nav-link" href="#features">FEATURES</a></li>
			<li class="nav-item"><a class="nav-link" href="#our-app">OUR APP</a></li>
		</ul>
		<ul class="nav navbar-nav float-xs-right">
			<li class="nav-item"><a class="nav-link" routerLink="/signin">SIGN IN</a></li>
			<li class="nav-item"><a class="nav-link btn" routerLink="/signup">SIGN UP</a></li>
		</ul>
	</div>
</nav>
<div *ngIf="isLogged">
	<div class="navbar navbar-light nav_background navbar-fixed-top">
		<a class="navbar-brand dashboard_logo" routerLink="/private"><img src="../img/main_logo.png" class="logo" alt="logo"></a>
		<div class="dashboard_nav">
			<ul class="nav navbar-nav float-xs-right">
				<li class="nav-item"><a class="nav-link email" routerLink="/profile"><i class="material-icons">account_circle</i>{{tokenEmail}}</a></li>
				<li class="nav-item">
					<a class="nav-link logout" (click)="logout()"><i class="material-icons">input</i>Logout</a>
				</li>
			</ul>
		</div>
	</div>
	<nav id="mySidenav" class="sidenav" >
		<a class="nav-link" [routerLinkActive]="['active']" routerLink="/private"><i class="material-icons">dashboard</i>Dashboard</a>
		<a class="nav-link" [routerLinkActive]="['active']" routerLink="/profile"><i class="material-icons">person_outline</i>Profile</a>
		<a class="nav-link" [routerLinkActive]="['active']" routerLink="/task_manager"><i class="material-icons">done</i>Task Manager</a>
		<a class="nav-link" [routerLinkActive]="['active']" routerLink="/event_manager"><i class="material-icons">event</i>Event Manager</a>
		<a class="nav-link" [routerLinkActive]="['active']" routerLink="/weather"><i class="material-icons">filter_drama</i>Weather</a>
		<a class="nav-link" [routerLinkActive]="['active']" routerLink="/charts"><i class="material-icons">show_chart</i>Charts</a>
	</nav>
</div>
<div [ngClass]="{content: isLogged}">
	<router-outlet></router-outlet>
</div>