.navbar img {
	height: 35px;
	width: auto;
}

.nav_background {
	background-color: #fff;
  z-index: 15;
}

.btn {
  color: #fff !important;
  background-color: #20d7af;
  text-decoration: none;
  border-radius: 0 !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  margin-top: 5px;
}

.btn:hover {
  text-decoration: none;
}

.float-xs-left {
  margin-left: 25px !important;
}

.navbar a {
	font-size: 0.9em !important;
	line-height: 2 !important;
}

.sidenav {
    height: 100%; 
    width: 225px;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #363F45;
    overflow-x: hidden; 
    padding-top: 100px; /* Place content 100px from the top */
}

/* The navigation menu links */
.sidenav a {
    display: flex; 
    padding: 8px 40px 8px 32px;
    text-decoration: none;
    font-size: 1em;
    color: #B9BBBE;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus a:active{
    color: #f1f1f1;
    background-color: #3E464C;
}

.active {
  color: #f1f1f1 !important;
  background-color: #3E464C;
}

.logout {
  cursor: pointer;
}

.content {
  margin-left: 225px;
}

i {
  letter-spacing: 10px;
}

.dashboard_logo {
  margin-left: 35px;
}

.dashboard_nav a {
  display: flex;
  align-items: center;
  color: #4F4F4F;
}

.dashboard_nav ul {
  margin-right: 35px;
}

.dashboard_nav i {
  letter-spacing: 5px;
  font-size: 2em;
}

.email {
  color: #20d7af !important;
}

.email i {
  color: #4F4F4F;
}

.small-nav {
  display: none;
  height: 100% ;
  width: 100%;
}

.small-menu {
  margin-left: 0 !important;
  text-align: center !important;
}


.small-menu-ul {
  padding-top: 50px;
}

#pull {
  background: url('../img/nav-icon.png') no-repeat;
  height: 30px;
  width: 30px;
  margin-top: 10px;
}