<div class="event_bg">
	<div class="container">
		<div *ngIf="!isLogged" class="alert alert-danger">
			<p>You can't see this content. You need to be logged to see it</p>
		</div>
		<div *ngIf="isLogged" >
			<section class="eventapp">
				<header class="header">
					<h1>Events</h1>
					<input class="new-todo" placeholder="What needs to be done?" autofocus="" [(ngModel)]="newEvent.title">
					<input type="date" class="new-todo" placeholder="Date" autofocus="" [(ngModel)]="newEvent.date">
					<button (click)="addEvent()">Add Event</button>
				</header>
			</section>
			<section class="main" *ngIf="events.length > 0">
				<ul class="todo-list">
					<li *ngFor="let event of events" [class.completed]="event.complete">
						<div class="view">
							<input class="toggle" type="checkbox" (click)="toggleEventComplete(task)" [checked]="event.complete">
							<label>{{event.title}}</label>
							<label>{{event.date | date: 'dd/MM/yyyy'}}</label>
							<button class="destroy" (click)="removeEvent(event)">Destrojni maaa</button>
						</div>
					</li>
				</ul>
			</section>
	</div>
</div>
</div>