<div class="event_bg">
	<div class="container">
		<div *ngIf="!isLogged" class="alert alert-danger">
			<p>You can't see this content. You need to be logged to see it</p>
		</div>
		<div *ngIf="isLogged" >
			<button class="btn btn-default event-button offset-md-10" (click)="showForm()">New Event</button>
			<section class="form offset-md-3 col-md-6">
				<form #f="ngForm" (ngSubmit)="addEvent(f.value)" *ngIf="newEvent">
					<div class="form-group col-md-12">
						<label for="title">Title</label>
						<input type="text" class="form-control" [(ngModel)]="title" name="title">
					</div>
					<div class="form-group col-md-12">
						<label for="comment">Comment</label>
						<input type="text" class="form-control" [(ngModel)]="comment" name="comment">
					</div>
					
					<material-datepicker class="form-group" [(date)]="done" [(ngModel)]="done"
					name="done" ngDefaultControl></material-datepicker>
					<button type="submit" class="col-md-4 offset-md-4 btn btn-default event-button">Add a new event</button>
				</form>
			</section>
			<section *ngIf="res" class="col-md-12 event-table">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>#</th>
							<th>Date</th>
							<th>Title</th>
							<th>Comment</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let all of res; let i = index ">
							<th scope="row">{{ i+ 1}}</th>
							<td>{{all.done | date}}</td>
							<td>{{all.title}}</td>
							<td>{{all.comment}}</td>
							<td><input type="checkbox" [(ngModel)]="all.completed" (ngModelChange)="changeValue($event, all._id)">
							<i class="material-icons destroy" (click)="removeEvent(all._id)">clear</i>
							</td>
						</tr>
					</tbody>
				</table>
			</section>
		</div>
	</div>
</div>