<div class="event_bg">
	<div class="container">
		<div *ngIf="!isLogged" class="alert alert-danger">
			<p>You can't see this content. You need to be logged to see it</p>
		</div>
		<div *ngIf="isLogged" >
			<section>
				<form #f="ngForm" (ngSubmit)="addEvent(f.value)">
					<div class="form-group">
						<label for="title">Title</label>
						<input type="text" class="form-control" [(ngModel)]="title" name="title">
					</div>
					<div class="form-group">
						<label for="comment">Comment</label>
						<input type="text" class="form-control" [(ngModel)]="comment" name="comment">
					</div>
					<div class="form-group">
						<label for="done">Date</label>
						<input type="date" class="form-control" [(ngModel)]="done" name="done">
					</div>
					<div class="form-group">
						<label for="completed">Completed</label>
						<input type="checkbox" class="form-control"[(ngModel)]="completed" name="completed">
					</div>
					<button type="submit" class="col-md-4 offset-md-4 btn btn-default">SUBMIT</button>
				</form>
			</section>
		</div>
	</div>
</div>